<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://use.fontawesome.com/6f32af3517.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="assets/books.js"></script>
  <title>Book: <%= @book.title -%> checkedout</title>
</head>

<body id="checkout">

  <h3 id="message">
    <% if @borrowSuccessful == true %>
    Checkout complete for the following book
    <% else %>
    <span class="alert"><%= flash[:error] %></span>
    <% end %>
  </h3>

  <div class="checkout">
    <input type="checkbox" id="payment">
    <label for="payment">
      <div class="tab payment">
        <% if @borrowSuccessful == true %>
        <h3 class="tab__title">Complete<span class="fa fa-check"></span></h3>
        <% else %>
        <h3 class="tab__title">Failed<span class="fa fa-times"></span></h3>
        <% end %>
        <div class="tab__content">
          <%= image_tag(@book.cover,{alt: @book.title, :class => "cover-image"}) -%>
          <span> <%= @book.title -%> </span>
          <span> ISBN: <%= @book.isbn -%> </span>
          <% if @borrowSuccessful == true %>
          <span> Borrower ID: <%= @card_id %> </span>
          <%end%>
        </div>
      </div>
    </label>
  </div>

  <div id="continue-button">
    <%= link_to "Continue", welcome_search_path %>
    <!-- <a href="/welcome/search"><button>Continue</button></a> -->
  </div>
</body>
</html>